@import (less) "reset.css";

/* COLORS: */

@silver: #ecf0f1;
@darkSilver: #bdc3c7;
@grey: #95a5a6;
@darkGrey: #7f8c8d;
@blue: #3498db;
@darkBlue: #2980b9;
@green: #2ecc71;
@darkGreen: #27ae60;
@purple: #9b59b6;
@darkPurple: #8e44ad;
@white: #f9f9f9;
@brightWhite: #fff;
@black: #222;
@concrete: #95a5a6;
@darkConcrete: #7f8c8d;
@midnight: #34495e;
@darkMidnight: #2c3e50;
@red: #e74c3c;
@darkRed: #c0392b;
@yellow: #f1c40f;
@darkYellow: #f39c12;


@background: @silver;
@fontColor: @black;


/* TYPE COLORS */
@department: @yellow;
@employee: @green;
@physician: @red;
@resident: @blue;
@student: @midnight;

@newHires: @purple;

.department{background:@department;}
.employee{background:@employee;}
.physician{background:@physician;}
.resident{background:@resident;}
.student{background:@student;}

.newHires{background:@newHires;}


body{
	background: @background;
	color: @fontColor;
	font-family: sans-serif;
	font-size: 13pt;
}

button, input{
	font-family: sans-serif;
}

a{
	&:link, &:visited{
		color: @blue;
	};
	&:hover{
		color: lighten(@blue, 15%);
	};
}

.inlineBlock{
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
}


#loader{
	position: fixed;
	top: 1.4em;
	left: 50%;
	margin-left: -445px;
}

.action{
	background: @darkPurple;
	cursor: pointer;
	-webkit-user-select: none;
	box-shadow: inset 0px -2px 0px 1px darken(@darkPurple, 10%);
	color: @white;
	border-radius: 5px;
	padding: .3em 1.3em .4em;
	font-size: 1em;
	-webkit-appearance: none;
	border: none;
	&:hover{
		color: @white !important;
		background: @purple;
	}
	&:focus{
		outline: none;
		background: @purple;
		box-shadow: 0px 0px 0px 3px fadeout(darken(@darkPurple, 25%), 10%);
	}
	&.empty{
		background: none;
		color: @darkPurple;
		box-shadow: none;
		text-decoration: underline;
		&:hover{
			color: @purple !important;
			background: darken(@background, 5%);
		}
		&:focus{
			outline: none;
			background: @white;
		}
	}
	&.red{
		background: transparent;
		color: @darkRed;
		text-decoration: underline;
		box-shadow: none;
		&:hover{
			color: @red !important;
			background: fadeout(@red,90%);
		}
		&:focus{
			background: fadeout(@red,80%);
			box-shadow: 0px 0px 0px 3px fadeout(darken(@red, 25%), 10%);
		}
	}
}


ul,li{
	list-style: none;
	margin: 0;
	padding: 0;
}


.shade{
	position: fixed;
	top: 0; left: 0; right: 0; bottom: 0;
	//background: fadeout(@darkMidnight, 20%);
	background: @darkMidnight;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	opacity: 0.2;
	z-index: 998;
}

.modal{
	background: @white;
	padding: 1em;
	width: 800px;
	position: fixed;
	left: 50%;
	margin-left: -400px;
	top: 5%;
	//box-shadow: 0px 2px 4px fadeout(@midnight, 33%);
	border: 6px solid @midnight;
	z-index: 999;
}

.displayFlex{
	 // display: -webkit-flex;
	 //  display: -moz-flex;
	 //  display: -ms-flex;
	 //  display: flex;
}

.flex(@value: 1){
	// -webkit-flex: @value;
	// flex: @value;
}

.flexxed{
	// .flex(1);
	height: 1.5em;
}

.flexColumn{
	// -webkit-box-direction: normal;
 //    -moz-box-direction: normal;
 //    -webkit-box-orient: vertical;
 //    -moz-box-orient: vertical;
 //    -webkit-flex-direction: column;
 //    -ms-flex-direction: column;
 //    flex-direction: column;
}

.alignItems (@value){
	// -webkit-box-align: @value;
 //    -moz-box-align: @value;
 //    -webkit-align-items: @value;
 //    -ms-flex-align: @value;
 //    align-items: @value;
}

.justifyContent (@value){
	// justify-content: @value;
}


.flexUl{
	li label{
		.displayFlex;
		align-items: stretch;
		span{
			.inlineBlock;
			width: 100px;
			margin-right: .5em;
			text-align: right;
		}
		.value{
			width: auto;
			.flex;
			text-align: left;
			margin-right: 0;
			font-size: 1em;
			padding: 4px 8px;
		}
		input{
			border: 0;
			border: 1px solid @silver;
			background: @brightWhite;
		}
	}
}

.btnRow{
	text-align: center;
	padding: 1em 0 0;

	.displayFlex;
	.justifyContent(space-around);
}


#loginBox{
	.modal;
	padding: 2em 1em 1em;
	-webkit-user-select: none;
	width: 400px;
	margin-left: -200px;
	ul{
		.flexUl;
	}
}



.seltdContact{

	padding-top: 2em;

	.spacer{
		height: 2em;
	}

	.inProfile{
		margin-left: 320px;
	}


	ul{
		.flex;
		.flexUl;
		.displayFlex;

		.alignItems(stretch);
		.justifyContent(space-between);
		.flexColumn;



		li label{
			color: @midnight;
		}
		margin: 1em;
		margin-left: 316px;


		.title{
			
		}

	}

	#newPhoto{
		display: none;
	}

	#profilePhoto{
		
		// background-size: cover;
		// background-position: center 10%;
		// background-repeat: no-repeat;
		// cursor: pointer;
		//border: none;

		float: left;
		// background: @midnight;
		// width: 300px;
		height: 378px;
		overflow: hidden;
		margin-right: 1em;

		img{
			width: 300px;
			border: 1px solid darken(@background, 10%);
		}
		&.mdPhoto{
			overflow: hidden;
			width: 302px;
			background: url('../img/ajax-loader.gif') no-repeat center;
			border: 1px solid darken(@background, 10%);
			img{
				width: auto;
				height: 378px;
				margin-left: -100px;
			}
		}
	}




}

h2{
		font-size: 2em;
		line-height: .9em;

		.fullName{
			display: block;
		}
		.title{
			.inlineBlock;
			font-weight: normal;
			font-size: .75em;
		}
	}

#editContact{
	#profilePhoto{
		cursor: pointer;
	}
}

#viewContact{

	#backToSearch{
		float: right;
	}

	.md h2 .fullName{ .inlineBlock; }

	

	.dept{
		line-height: 1.5em;

	}


	li{
		padding: 2px 0;
		line-height: 1em;
	}



	label{
		display: block;
		margin-right: .5em;
		color: mix(@white,@fontColor, 33%);
		font-size: .75em;
		vertical-align: bottom;
	}

	.reports{
		font-style: italic;
	}

	.phone {
		margin-bottom: 1.5em;
		span{
			font-size: 1.5em;
			font-weight: bold;
			}
	}

	.VP, .director, .SDate, .EDate, .STypeID, .School, .SpecID{
		margin-bottom: 1.5em;
	}

	.findPeople{
		text-align: center;
		margin-top: 2em;
	}

	.email{
		margin-bottom: 1.5em;
	}

	.startDate{
		text-align: center;
		margin-bottom: 1.5em;
	}

	.callPref .details{
			margin-left: .5em;
			font-size: .8em;
			color: mix(@red, @fontColor);
	}

	#rewardsSection{

		text-align: center;

		#rewardsBtn{
			
			line-height: 1em;
			background: mix(@white, @yellow, 95%);
			border: 1px solid @yellow;
			margin: 1em;
			cursor: pointer;
			.handle{
				padding: .25em 2em;
				display: block;
				line-height: 1.5em;
			}
			&:hover{
				background: mix(@white, @yellow, 85%);
			}
			&.open{
				font-weight: bold;
				background: mix(@white, @yellow, 85%);
			}
		}
		#rewards{
			font-size: .8em;
			display: none;
			text-align: left;
			font-weight: normal;
			margin: .5em 1em;
			div{
				background: mix(@white, @yellow, 85%);
				padding: .2em 1em;
				border-bottom: 1px solid @yellow;
			}
			.rewardType{
				font-weight: bold;
				text-align: right;
			}
		}

	}

	#priviledges {
		font-size: .75em;
		line-height: 1.5em;
		background: @brightWhite;
		border: 1px solid darken(@background, 10%);
		padding: .5em;
		margin: 1em;
		h3{
			font-size: 1.75em;
			margin: .2em 0;
			text-align: center;
		}
		h4 {
			margin: .5em 0;
			font-size: 1.5em;
			padding: .25em;
			background: darken(@brightWhite, 10%);
		}
		.privGroup {
			margin: 0 1em;
		}
		.priv {
			padding: .5em 0;
			border-bottom: 1px solid darken(@background, 10%);
		}
		.privStatus {
			background: @fontColor;
			color: @brightWhite;
			.inlineBlock;
			padding: 2px 6px;
			vertical-align: middle;
		}
		#privKey{
			div{
				padding: .25em 1em;
			}
		}
	}

	

	

	

}


#app{
	.displayFlex;
	width: 900px;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -450px;
	padding-bottom: 3em;

	#mainContent{
		.flex;
		margin-left: 280px;

	}
}

.arrowAfter(@color){
	content: '';
	background: transparent;
	width: 0;
	height: 0;
	position: absolute;
	left: 100%;
	top: 0px;
	float: right;
	border: 1.1em solid transparent;
	border-left-color: @color;
	pointer-events: none;
}

#topBar{

	position: fixed;
	z-index: 100;
	top: 0;
	background: @background;

	#logo{
		-webkit-user-select: none;
		-webkit-appearance: none;
		background: transparent;
		cursor: pointer;
		border: 0;
		font-size: 2em;
		font-weight: bold;
		color: @darkPurple;
		.inlineBlock;
		margin-right: 20px;
		margin-top: 16px;
		margin-left: 16px;
		width: 250px;
		vertical-align: middle;
		:hover{
			color: @purple;
		};
	}

	
	#searchBox{

		.displayFlex;
		.alignItems(center);

		min-width: 615px;

		float: right;

		overflow: auto;
		vertical-align: middle;
		padding: 1em 0;


		#search{
			.flex;
			font-size: 1.3em;
			border: 2px solid darken(@background, 15%);
			//border-radius: 6px;
			padding: .3em .4em;
			//box-shadow: inset 0px 1px 2px @darkSilver;
			cursor: pointer;
			-webkit-appearance: none;
			&:focus{
				outline: none;
				border-color: @purple;
				//box-shadow: inset 0px 0px 0px 4px fadeout(@purple, 30%);
			};
		}

		#letters{
			.displayFlex;
			.justifyContent(space-between);
			.flexColumn;
			margin-left: 1em;
			margin-top: 5px;
			float: right;

			.lettersRow{
				.displayFlex;
				.justifyContent(space-between);
				clear:both;
			}
			span{
				-webkit-user-select: none;
				cursor: pointer;
				.flex;
				text-align: center;
				color: @darkPurple;
				.inlineBlock;
				width: 1.2em;
				float: left;
				
				border-radius: 4px;
				&:hover{
					background: lighten(@background, 5%);
					color: @purple;
				};
			}
		}

	}



}

#sideBar{
	width: 250px;
	margin-right: 1em;
	text-align: center;
	font-size: 1.3em;
	//border-right: 1px solid @darkSilver;


		position: -webkit-sticky;
		position: fixed;
		z-index: 500;
		top: 70px;
		padding-top: 1em;
		bottom: 0;
		.displayFlex;
		.flexColumn;




	.sideLink{
		padding: .5em 0 .7em;
		cursor: pointer;
		&.big{
			text-align: left;
			padding-left: 2.7em;
		}
		&:hover{
			color: @purple;
		};
		.typeIcon{
			.inlineBlock;
			width: 16px;
			height: 16px;
			margin-right: .3em;
			vertical-align: 4%;
		}
		&.csv{
			font-size: .7em;
			margin: 1em 0;
		}
	}
	.action{
		margin: 0 3em;
		text-align: center;

	}
	.searchType{
		background: transparent;
		position: relative;
		-webkit-user-select: none;
		&.seltd{
			color: @white;
			border-radius: 6px 0px 0px 6px;
			&.department{background:@department; &:after{.arrowAfter(@department)};}
			&.employee{background:@employee; &:after{.arrowAfter(@employee)};}
			&.physician{background:@physician; &:after{.arrowAfter(@physician)};}
			&.resident{background:@resident; &:after{.arrowAfter(@resident)};}
			&.student{background:@student; &:after{.arrowAfter(@student)};}
			&.newHires{background:@newHires; &:after{.arrowAfter(@newHires)};}
		}
	}

	#userLinks{
		font-size: .8em;
		margin: 1em 0;

		#loggedInAs{
			margin-top: 1em;
			span{
				display: block;
				font-size: .8em;
				font-style: italic;
			}
			&:hover{
				color: @red;
			}
		}
	}
	
}

.gutter{
	margin-top: 5em;
	text-align: center;
	color: fadeout(@fontColor, 50%);
}



#contacts{
	.row{
		.displayFlex;
		.justifyContent(space-between);
		align-items: center;
		&.secondary{
			font-size: .8em;
			opacity: .8;
		}
	}
	li{
		padding: .5em 1em;
		border-bottom: 1px solid @darkSilver;
		cursor: pointer;
		
		&:last-child{
			border-bottom: none;
		};
		&:hover{
			background: @white;
		};

		&.odd{
			background: darken(@background, 3%);
			&:hover{
				background: darken(@white, 3%);
			};
		}

		.name{
			strong{
				font-weight: bold;
			}
		}

		&:hover .name{
			color: @darkPurple;
		};

		.title, .location{
			font-size: .8em;
			font-style: italic;
			margin-left: .8em;
			opacity: .8;
		}
		.highlight{
			//background: fadeout(@yellow, 60%);
			box-shadow: 0px 4px 0px @yellow;
			background: fadeout(@white, 30%);
		}
		.phone{
			float: right;
		}
		.type{
			font-style: italic;
			font-size: .8em;
			margin-left: 1em;
			padding: 2px 4px;
			color: @white;
			text-transform: capitalize;
			.inlineBlock;
		}
		.flex{
			.flex;
		}
	}
}

#newHires{

	p{
		text-align: center;
		padding: 4em 0;
	}

	#contacts{
		text-align: center;

		li{
			width: 45%;
			.inlineBlock;
			border-bottom: none;
			padding: 1em 0;

			span{
				display: block;
			}

			.startDate{
				display: inline;
				font-size: .8em;
				span{
					display: inline;
				}
			}

			.name{
				font-weight: bold;
				line-height: 1.6em;
				font-size: 1.15em;
			}

			&:hover .name{
				color: @darkPurple;
			};

			.title{
				font-style: normal;
				font-weight: bold;
				opacity: 1;
			}

			

			
		}

	}
}


#tips {
	-webkit-user-select: none;
	position: fixed;
	z-index: 0;
	left: 50%;
	margin-left: -190px;
	top: 85px;
}



.scrolled{
	#topBar{
		border-bottom: 1px solid darken(@background, 25%);
	}
}




#app{
	background: transparent;
	&.view, &.edit{
		#sideBar{
			display: none;
		}
		#mainContent{
			margin-left: 0;
		}
	}
}