mixin with(val)
	<!-- ko with: !{val} -->
	block
	<!-- /ko -->

mixin if(val)
	<!-- ko if: !{val} -->
	block
	<!-- /ko -->

mixin each(val)
	<!-- ko foreach: !{val} -->
	block
	<!-- /ko -->

doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/public/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/public/stylesheets/bootstrap-theme.min.css')
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
	body

		block content

		script(src='/public/javascripts/libs.js')
		script(src='/public/javascripts/bootstrap.min.js')

		script
			:coffee

				window.logout = (c_name) ->
					document.cookie = "user=deleted; expires=" + new Date(0).toUTCString()
					document.cookie = "userData=deleted; expires=" + new Date(0).toUTCString()
					document.cookie = "loggedOut=true; expires=" + moment().add('m',1).toDate().toUTCString()
					location.reload()
					return

		block scripts