doctype html
html
	head
		title= title
		link(rel='stylesheet', type='text/css', href='http://daily.kdhcd.org/public/stylesheets/style.css')
		meta(name='viewport', content='width=device-width, minimal-ui')
	body(id=pageType + 'Body')
		block content
