p.space &nbsp;
table#anniversaries.section
	tr
		td
			h2 KD Anniversaries
			p.summary Thank you for making Kaweah Delta a wonderful place to work!
	each year in anniversaries.years
		tr
			td.annYears
				span #{year}&nbsp;
				| Years
		tr
			td.annNames
				each person in anniversaries.data[year]
					div
						span.name &bull; #{person.fName} #{person.lName}&nbsp;
						span.from from #{person.dept}
						span.congrat
							| &nbsp;&nbsp;
							a(href='mailto:#{person.username}@kdhcd.org?subject=Congrats on your KD Anniversary, #{person.fName}!', title='Send #{person.fName} congratulations!')
								img(height='12px' src='http://daily.kdhcd.org/public/images/mail.png')