script!= 'EVENTS = ' + JSON.stringify(events)
p.space &nbsp;
table#events.section
	tr
		td(colspan=3)
			h2 Events

	-var index = 1
	each day in events
		-index++
		- var daysAway = moment(day[0].start).diff(moment().startOf('day'), 'days')
		if daysAway >= 0
			-var bgcolor = index % 2 ? '#f9f9f9' : '';
			tr.day(class= index % 2 ? 'even' : 'odd')
				td.dayName(bgcolor= bgcolor, valign='top')
					if daysAway == 0
						h3 Today
					if daysAway == 1
						h3 Tomorrow
					if daysAway > 1
						h3= moment(day[0].start).format('dddd')
				td.vSpace(bgcolor= bgcolor)
				td.eventLists(bgcolor= bgcolor)
					p.space &nbsp;
					each eve in day
						if !(eve.record.title.indexOf('Deleted:') + 1)
							div.event
								-// a.eventLink(href='http://kdcentral.kdhcd.org/Lists/District%20Events/DispForm.aspx?ID=#{eve.record.spId}')
								a.eventLink(href= listURL + 'E#{eve.record.spId}-#{eve.occurrence}?u=?')
									| &bull;
									span.eTitle= ' ' + eve.record.title + ': '
								span.times
										if eve.record.allDay
											span.allDay (all day)
										if !eve.record.allDay
											span.start= moment(eve.start).format('h:mma').replace(':00','')
											| &nbsp-&nbsp
											span.end= moment(eve.end).format('h:mma').replace(':00','')
								| &nbsp;
								a.addToCalendar(href= listURL + 'E#{eve.record.spId}-#{eve.occurrence}/ical', title="Add to my Calendar")
									| &nbsp;
									img(height='12px' src='http://daily.kdhcd.org/public/images/cal.png')
									| &nbsp;
						p.space &nbsp;