if featuredEvents.length
	p.space &nbsp;
	table#featuredEvents.section
		tr
			td(colspan=3)
				h2 Featured Events
				p.quarterSpace &nbsp;

		-var feRows = [[],[],[],[],[],[],[],[],[],[]]; featuredEvents.forEach( function(value, index){ var myRow = Math.ceil( (index + 1) / 2 ); feRows[ myRow ].push(value); });
		each feRow, index in feRows
			tr
				each feve, feveIndex in feRow
					-var feveBod = feve.body
					-var feveImg = feveBod ? feveBod.match(/\{\{(.*)\}\}/) : null
					- feveImg = feveImg ? feveImg[1] : null
					-var feveStart = moment(feve.startDate)
					-var feveOccurence = feveStart.format("YYYY.DDD")
					td.feTD
						table.featuredEvent
							if feveImg
								tr
									td.feveImg
										img(src='http://daily.kdhcd.org/public/event-images/#{feveImg}', width='100%')
							tr
								td.date
									a(href= listURL + 'E#{feve.spId}-#{feveOccurence}?u=?')
										p.quarterSpace &nbsp;
										| #{ feveStart.format("dddd, MMM Do") }
										p.quarterSpace &nbsp;
		
										a(href= listURL + 'E#{feve.spId}-#{feveOccurence}?u=?')
											p.quarterSpace &nbsp;
											div.theTitle #{ feve.title }
											if feve.allDay
												span.allDay (all day)
											if !feve.allDay
												div #{ feveStart.format("h:mma").replace(':00','') } - #{ moment(feve.endDate).format("h:mma").replace(':00','') }
											p.quarterSpace &nbsp;
											a.addToCalendar(href= listURL + 'E#{feve.spId}-#{feveOccurence}/ical', title="Add to my Calendar")
												| &nbsp;
												img(height='12px' src='http://daily.kdhcd.org/public/images/calW.png')
												| &nbsp;
						p.halfSpace &nbsp;

					if feveIndex == 0
						td.centerFeEvent
							p.space &nbsp;