-var focusLink = listURL + 'F' + focus.focusID + '?u=?';

// Kaweah Care Cornerstones:
// img(src='http://daily.kdhcd.org/public/images/kcare1.png' title='Ideal Work Environment')
// img(src='http://daily.kdhcd.org/public/images/kcare2.png' title='Excellent Service')
// img(src='http://daily.kdhcd.org/public/images/kcare3.png' title='Outstanding Health Outcomes')
// img(src='http://daily.kdhcd.org/public/images/kcare4.png' title='Financial Strength')

p.space &nbsp;
table#focus.section(class='cornerstone c'+focus.meta)
	tr#focusTitle
		td
			p.halfSpace &nbsp;
			h2: a(href= focusLink)= focus.subject
	case focus.type
		when 'Focus'
			tr#focusContent
				-var truncCont = focus.content.match(/^((.*?)[.?!(:\n)]){2}/)
				-truncCont = truncCont ? truncCont[0].replace(/\n/g,'') + '...' : focus.content;
				td
					a.linkingContent(href= focusLink)= truncCont.replace(/\n/g, '<br>')
					a.readMore(href= focusLink) Read More!
		when 'Quote'
			tr#focusQuote
				td: a(href= focusLink)!= focus.content.replace(/\n/g, '<br>')
	tr#focusCornerstone
		td
			p.halfSpace &nbsp;
			a(href= focusLink): img(src='http://daily.kdhcd.org/public/images/kcare'+ focus.meta +'.png')
			p.halfSpace &nbsp;