p.space &nbsp;
table#news.section
	tr
		td
			h2 News
			if count
				p#count To date, the District Daily has kept <strong>#{count.count}</strong> emails from flooding your inbox!


			mixin headline(record, vip)
				-var recordURL = listURL + record.spId + '?u=?'
				tr.record(class= vip? 'vip' : '')
					td(bgcolor = vip ? '#FFFFE2' : '')
						a.itemLink(href= recordURL)
							h3.title= record.title
							p.byLine
								span.creator= '— ' + record.creator.replace(/(.*),\s?(.*)/, '$2 $1')
								//- span.created #{moment(record.created).format('[ on] M/DD [at] H:mm')}

			each record in records.vip
				+headline(record, true)

			each record in records.news
				+headline(record)