p.space &nbsp;
table#recognitions.section
	tr
		td
			h2 You Are Kaweah Care!
			p.nominate Make sure to recognize fellow employees who has exemplified Kaweah Care!
			p.nomLink
				a(href='http://daily.kdhcd.org/recognition?u=?') Recognition Form

			if recognitions && recognitions.length > 4
				p.summary These team members have been recognized in the last 7 days as prime examples of our Kaweah Care values.
				p.names
					each employee in recognitions
						if employee.fName
							| &#9733;&nbsp;
							span #{employee.fName} #{employee.lName}
							| &nbsp;