p.space &nbsp;
- var days = weather.days.slice(0,3)
table#weather.section
	tr
		td(colspan=days.length)
			h2 Weather
			p.summary= weather.summary
	tr
		each day, index in days
			td.day
				div.icon
					img( width='80px' src='http://daily.kdhcd.org/public/images/climacons/' + day.icon + '.png')
				if index == 0
					h3 Today
				if index == 1
					h3 Tomorrow
				if index > 1
					h3= moment.unix(day.time).format('dddd')
				div.temp
					span.hi= Math.round(day.temperatureMax) + '° '
					| /
					span.lo= ' ' + Math.round(day.temperatureMin) + '°'
				div.summary= day.summary