extends layout/mailLayout


block content
	-var listURL = 'http://daily.kdhcd.org/' + moment(listDay).format('YYYY/MM/DD/')


	table#header.section
		tr
			td
				img(src='http://daily.kdhcd.org/public/images/DDLogo.png' title='The District Daily')
				div.forDate!= moment(listDay).format('[<span class="day">]dddd[</span><span class="date">]MMMM Do[</span>]YYYY')

	img(src='http://daily.kdhcd.org/public/images/cornerstones.png' title='Cornerstones')
	

	if focus
		include ../sections/focus



	if records.news.length > 0
		include ../sections/news


	if featuredEvents
		include ../sections/featuredEvents


	if events
		include ../sections/events


	include ../sections/recognition


	if anniversaries && anniversaries.years.length
		include ../sections/anniversaries

	if weather
		include ../sections/weather



	p.space &nbsp;
	img(src="http://daily.kdhcd.org/trackMail?type=DDaily&listID=" + moment(listDay).format("YYYYMMDD") + "&user=uuuu", width="1", height="1")


	table#foot.section
		tr
			td
				| The <em>District Daily</em> is a summary of all the news happening around Kaweah Delta.<br/>Not receiving <em>"*Everyone"</em> emails anymore?<br/>You're welcome.
	
	img(src='http://daily.kdhcd.org/public/images/cornerstones.png' title='Cornerstones')