extends layout/mailLayout

mixin columnHeader(caption, width)
	td( class!=attributes.class, style='width:' + width )= caption

mixin column(classname, value, width, title, addSpaces)
	td( class= classname, bgcolor!=attributes.bgcolor, title=title, style='width:' + width || '' )
		if addSpaces
			p.quarterSpace &nbsp;
		div(style='width:' + width)!= value
		if addSpaces
			p.quarterSpace &nbsp;

block content

	-var $weekOf = moment(new Date(weekOf));

	table#header.section
		tr
			td
				img(src='http://daily.kdhcd.org/public/images/DDLogo.png' title='The District Daily')
				h2= title
				div.subtitle= subtitle

	p.space &nbsp;
	h2 District Daily Hits
	p.center This table shows how many people opened the District Daily each day last week.
	table#dDHits.section
		-var dailyHits = dDailyHits[0][0][0]
		-var $wO = $weekOf;
		tr.header
			+columnHeader('Day', '')(style='font-weight:bold', class='dDDay')
			+columnHeader('Hits', '50%')(class='dDHitsCount')
		tr.ddRow.Monday
			+column( 'dayName', $wO.format('dddd - MMM D ') )
			+column( 'dayHits', dailyHits.Monday, null, null, true )
		tr.ddRow.Tuesday
			+column( 'dayName', $wO.add('d', 1).format('dddd - MMM D ') )(bgcolor= '#f0f0f0')
			+column( 'dayHits', dailyHits.Tuesday, null, null, true )(bgcolor= '#f0f0f0')
		tr.ddRow.Wednesday
			+column( 'dayName', $wO.add('d', 1).format('dddd - MMM D ') )
			+column( 'dayHits', dailyHits.Wednesday, null, null, true )
		tr.ddRow.Thursday
			+column( 'dayName', $wO.add('d', 1).format('dddd - MMM D ') )(bgcolor= '#f0f0f0')
			+column( 'dayHits', dailyHits.Thursday, null, null, true )(bgcolor= '#f0f0f0')
		tr.ddRow.Friday
			+column( 'dayName', $wO.add('d', 1).format('dddd - MMM D ') )
			+column( 'dayHits', dailyHits.Friday, null, null, true )
		tr.ddRow.Saturday
			+column( 'dayName', $wO.add('d', 1).format('dddd - MMM D ') )(bgcolor= '#f0f0f0')
			+column( 'dayHits', dailyHits.Saturday, null, null, true )(bgcolor= '#f0f0f0')
		tr.ddRow.Sunday
			+column( 'dayName', $wO.add('d', 1).format('dddd - MMM D ') )
			+column( 'dayHits', dailyHits.Sunday, null, null, true )

	p.space &nbsp;
	h2 Content Ranking Report
	table#ranks.section
		tr.header
			+columnHeader('Rank', '60px')(style= 'font-weight:bold', class='rank')
			+columnHeader('Post', '')(class='thePost')
			+columnHeader('Hits', '60px')(class='hits')
			+columnHeader('Likes', '60px')(class='likes')
		each row,index in hits[0][0]
			-var postURL = 'http://daily.kdhcd.org/' + moment(row.listDate).format('YYYY/MM/DD') + '/' + row.spId;
			-var bgcolor = index % 2 ? '#f0f0f0' : '';
			tr.rankRow
				+column( 'rank', (index + 1) )(bgcolor= bgcolor)
				td.post(bgcolor= bgcolor)
					p.halfSpace &nbsp;
					.postTitle
						a(href=postURL) #{row.title}
					.by
						| by&nbsp;
						strong #{row.creator.replace(/(.*),\s?(.*)/, '$2 $1')}
					.posted
						| posted&nbsp;
						strong #{moment(row.listDate).utc().format('ddd, MMM D')}&nbsp;
					p.halfSpace &nbsp;

				td.hits(bgcolor= bgcolor, title= 'The District Daily for ' + moment(row.listDate).utc().format('MM/DD') + ' was viewed ' + row.DistrictDailyViews + ' times')
					div= row.hits
					-var perc = Math.ceil( row.hits / row.DistrictDailyViews * 100 );
					div.secondary= isFinite(perc) ? perc + '%' : '-'
				+column( 'likes', row.likes || ' - ')(bgcolor= bgcolor)


	p.space &nbsp;
	table#aboutReport.section
		tr
			td
				p &nbsp;&nbsp;&nbsp;You are receiving this report because you have submitted content to the District Daily last week. This information is being provided as a tool for you to use to evaluate your communication effectiveness.
				p &nbsp;&nbsp;&nbsp;The ranking is has a very simple algorithym applied giving the more engaged action, 'likes' a little more weight than 'hits'. Remember: 'Hits' represent every time a reader clicked your Headline to read your Content. 'Likes' represent your reader actively enagaging with your Content.
				p
					| &nbsp;&nbsp;&nbsp;It is highly recommended that all Content Providers (you) read and try to comply with the&nbsp;
					a(href='http://daily.kdhcd.org/style') District Daily Style Guide.&nbsp;
					| This guide has been provided to assist you in authoring posts that will resonate with your readers. Also, please make sure your content complies with the&nbsp;
					a(href='http://daily.kdhcd.org/policy') District Daily Policies.


	//- div= JSON.stringify(contentProviders)

