extends layout


block content


	-var listURL = 'http://daily.kdhcd.org/' + moment(listDay).format('YYYY/MM/DD/')
	div#header.section
		-var specialLogos = ['20140704']
		-var whichLogo = specialLogos.indexOf(moment().format('YYYYMMDD'))+1 ? moment().format('YYYYMMDD') : 'Logo'
		img(src='/public/images/DistrictDaily' + whichLogo + '.png' title='The District Daily')
	
	div#forDate.section!= moment(listDay).format('[<span class="day">]dddd[</span><span class="date">]MMMM Do[</span>]YYYY')


	if focus
		-var focusLink = listURL + 'F' + focus.focusID;
		div#focus.section(class='cornerstone c'+focus.meta)
			div#focusTitle
				h2: a(href= focusLink)= focus.subject
			case focus.type
				when 'Focus'
					div#focusContent
						-var truncCont = focus.content.match(/^((.*?)[.?!]){2}/)
						-truncCont = truncCont ? truncCont[0] + '...' : focus.content;
						//- = truncCont
						a.linkingContent(href= focusLink)= truncCont
						a.readMore(href= focusLink) Read More!
				when 'Quote'
					div#focusQuote
						a(href= focusLink)= focus.content
			div#focusCornerstone
				a(href= focusLink): img(src='http://daily.kdhcd.org/public/images/kcare'+ focus.meta +'.png')


	if records.news.length > 0
		div#news.section
			h2 News

			if count
				p#count To date, the District Daily has kept <strong>#{count.count}</strong> emails from flooding your inbox!


			mixin headline(record, vip)
				-var recordURL = listURL + record.spId + '?u=?'
				div.record(class= vip? 'vip' : '')
					a.itemLink(href= recordURL)
						h3.title= record.title
						p.byLine
							span.creator= '— ' + record.creator.replace(/(.*),\s?(.*)/, '$2 $1')
							span.created #{moment(record.created).format('[ on] M/DD [at] H:mm')}


			each record in records.vip
				+headline(record, true)

			each record in records.news
				+headline(record)



	if events
		include eventListSection


	if anniversaries && anniversaries.years.length
		div#anniversaries.section
			h2 KD Anniversaries
			p.summary Thank you for making Kaweah Delta a wonderful place to work!
			each year in anniversaries.years
				.annYears
					span #{year}&nbsp;
					| Years
				.annNames
					each person in anniversaries.data[year]
						div
							span.name &bull; #{person.fName} #{person.lName}&nbsp;
							span.from from #{person.dept}
							span.congrat
									| &nbsp;&nbsp;
									a(href='mailto:#{person.username}@kdhcd.org?subject=Congrats on your KD Anniversary, #{person.fName}!', title='Send #{person.fName} congratulations!')
										img(height='12px' src='http://daily.kdhcd.org/public/images/mail.png')


	if weather
		include weatherSection
		//- div= JSON.stringify(weather)



	if quote
		div#quote.section
			p Weekly quote...



	div#foot.section
		p The <em>District Daily</em> is a summary of all the news happening around Kaweah Delta.<br/>Not receiving <em>"*Everyone"</em> emails anymore?<br/>You're welcome.


	//- script(src='/public/javascripts/jq.js')
	//- script(src='/public/javascripts/ko.js')
	//- script(src='/public/javascripts/komap.js')
	//- script(src='/public/javascripts/underscore.js')
	//- script(src='/public/javascripts/moment.js')
	//- script(src='/public/javascripts/waypoints.js')
	script(src='/public/javascripts/libs.js')
	script(src='/public/javascripts/districtDailyList.js')

			