doctype html
html
	head
		title= title
		link(rel='stylesheet', type='text/css', href='/public/stylesheets/KaweahCare.css')
		meta(name='viewport', content='width=device-width, minimal-ui')
	-var myId = pageType ? pageType + 'Body' : ''
	body(id=myId)

		#header
			img(src="http://daily.kdhcd.org/public/images/KCare.png" width=300)

		if userData
			block content

		if !userData
			h1 You need to be logged in to access this page!

			.section
				.buttonField
					button(onclick="logIn()") Log In!

			script(src='/public/javascripts/libs.js')

			script
				:coffee
					window.getCookie = (name) ->
						value = "; " + document.cookie
						parts = value.split("; " + name + "=")
						parts.pop().split(";").shift()  if parts.length is 2

					window.logIn = ->
						document.cookie = "loggedOut=deleted; expires=" + new Date(0).toUTCString()
						$.getJSON 'http://apps.kdhcd.org/auth/api.aspx?callback=?&mode=detectID', (data, status) ->
							if status is 'success'
								if data.user and data.user isnt "PUBLIC"
									document.cookie = "user=" + escape(data.user) + "; path=/"
									location.reload()
								else
									$('h1').after '<h2>Public Computer</h2>'
							else
								$('h1').after '<h2>Auth failed - ' + status + '</h2>'
							return
						return

					unless getCookie('loggedOut') is 'true'
						window.logIn
