- var days = weather.days.slice(0,3)
div#weather.section
	h2 Weather
	p.summary= weather.summary
	table
		tr
			-var liveDays = moment.unix(days[0].time).diff(moment(),'d') == 0 ? true : false;
			each day, index in days
				td.day
					div.icon
						img( width='80px' src='http://daily.kdhcd.org/public/images/climacons/' + day.icon + '.png')
					if index == 0
						h3= liveDays ? 'Today' : moment.unix(day.time).format('MMM Do')
					if index == 1
						h3= liveDays ? 'Tomorrow' : moment.unix(day.time).format('MMM Do')
					if index > 1
						h3= liveDays ? moment.unix(day.time).format('dddd') : moment.unix(day.time).format('MMM Do')
					div.temp
						span.hi= Math.round(day.temperatureMax) + '° '
						| /
						span.lo= ' ' + Math.round(day.temperatureMin) + '°'
					div.summary= day.summary