@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourceSans/sourcesanspro-light-webfont.eot');
    src: url('../fonts/sourceSans/sourcesanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourceSans/sourcesanspro-light-webfont.woff') format('woff'),
         url('../fonts/sourceSans/sourcesanspro-light-webfont.ttf') format('truetype'),
         url('../fonts/sourceSans/sourcesanspro-light-webfont.svg#source_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourceSans/sourcesanspro-lightitalic-webfont.eot');
    src: url('../fonts/sourceSans/sourcesanspro-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourceSans/sourcesanspro-lightitalic-webfont.woff') format('woff'),
         url('../fonts/sourceSans/sourcesanspro-lightitalic-webfont.ttf') format('truetype'),
         url('../fonts/sourceSans/sourcesanspro-lightitalic-webfont.svg#source_sans_proregular') format('svg');
    font-weight: normal;
    font-style: italic;
}


@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourceSans/sourcesanspro-regular-webfont.eot');
    src: url('../fonts/sourceSans/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourceSans/sourcesanspro-regular-webfont.woff') format('woff'),
         url('../fonts/sourceSans/sourcesanspro-regular-webfont.ttf') format('truetype'),
         url('../fonts/sourceSans/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourceSans/sourcesanspro-italic-webfont.eot');
    src: url('../fonts/sourceSans/sourcesanspro-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourceSans/sourcesanspro-italic-webfont.woff') format('woff'),
         url('../fonts/sourceSans/sourcesanspro-italic-webfont.ttf') format('truetype'),
         url('../fonts/sourceSans/sourcesanspro-italic-webfont.svg#source_sans_proregular') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourceSans/sourcesanspro-bold-webfont.eot');
    src: url('../fonts/sourceSans/sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourceSans/sourcesanspro-bold-webfont.woff') format('woff'),
         url('../fonts/sourceSans/sourcesanspro-bold-webfont.ttf') format('truetype'),
         url('../fonts/sourceSans/sourcesanspro-bold-webfont.svg#source_sans_proregular') format('svg');
    font-weight: 900;
    font-style: normal;
}

