html{-webkit-font-smoothing:subpixel-antialiased;-webkit-text-size-adjust:100%}
.giveLayout{min-height:1%}
.ellipsis{white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.weightNormal{font-weight:normal}
.weightBold{font-weight:bold}
.weightBolder{font-weight:900}
.inlineBlock{display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline}
