

html{
  -webkit-font-smoothing: subpixel-antialiased; 
  -webkit-text-size-adjust: 100%;
}

.giveLayout{
	min-height: 1%;
}

.ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.opacity(@opacity: 0.5) {
  -moz-opacity: @opacity;
  -khtml-opacity: @opacity;
  -webkit-opacity: @opacity;
  opacity: @opacity;
  @opperc: @opacity * 100;
  -ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(opacity=@{opperc})";
  filter: ~"alpha(opacity=@{opperc})";
  .giveLayout;
}

@normal: normal;
@bold: bold;
@bolder: 900;

.weightNormal{
	font-weight: @normal;
}
.weightBold{
	font-weight: @bold;
}

.weightBolder{
  font-weight: @bolder;
}

.inlineBlock{
  display:-moz-inline-stack;
  display:inline-block;
  zoom:1;
  *display:inline;
}

.minHeight(@minHeight){
  min-height: @minHeight; 
  height:auto !important; 
  height: @minHeight; 
}