extends layouts/layout

block content

	div#dataPage

		h1 Hit Data for 
			strong= post

		table
			tr.header
				each columnName in columns
					td( style='width:' + (100 / columns.length) + '%' )= columnName
			each row,index in rows
				tr.row
					each columnName in columns
						td(class= index % 2 ? 'odd' : 'even', class= 'column' + columnName )= row[columnName]

		a#spreadsheetLink(href='dataDownload')
			img(src="/public/images/filetypes/xls.png")
			span Download spreadsheet
