extends layouts/layout


block content

	-var listURL = 'http://daily.kdhcd.org/' + moment(listDay).format('YYYY/MM/DD/')


	div#header.section
		img(src='http://daily.kdhcd.org/public/images/DDLogo.png' title='The District Daily')

	img(src='http://daily.kdhcd.org/public/images/cornerstones.png' title='Cornerstones')
	
	div#forDate.section!= moment(listDay).format('[<span class="day">]dddd[</span><span class="date">]MMMM Do[</span>]YYYY')


	if focus
		if focus.subject
			include ../sections/focus


	if records.news.length > 0
		include ../sections/news


	if featuredEvents
		include ../sections/featuredEvents


	if events
		include ../sections/events


	include ../sections/recognition


	if anniversaries && anniversaries.years.length
		include ../sections/anniversaries


	if weather
		include ../sections/weather


	div#foot.section
		p The <em>District Daily</em> is a summary of all the news happening around Kaweah Delta.<br/>Not receiving <em>"*Everyone"</em> emails anymore?<br/>You're welcome.
	img(src='http://daily.kdhcd.org/public/images/cornerstones.png' title='Cornerstones')

	script(src='http://daily.kdhcd.org/public/javascripts/libs.js')
	script(src='http://daily.kdhcd.org/public/javascripts/districtDailyList.js')

			
