extends layouts/KaweahCare-Layout

mixin with(val)
	<!-- ko with: !{val} -->
	block
	<!-- /ko -->

mixin if(val)
	<!-- ko if: !{val} -->
	block
	<!-- /ko -->

mixin each(val)
	<!-- ko foreach: !{val} -->
	block
	<!-- /ko -->

mixin standards(caption)
	-var myID = caption.replace(/\W/g,'')
	label(for=myID, class='checkboxLabel')
		input(type='checkbox', id=myID, value=caption, name='Standards')
		| #{caption}

mixin standardsTable()
	table#standardsTable
		tr
			td
				+standards('Compassionate Service')
				+standards('Respect')
				+standards('Communication')
				+standards('Privacy')
				+standards('Personal Ownership')
			td
				+standards('Safety')
				+standards('Professional Image')
				+standards('Commitment to Colleagues')
				+standards('Call Lights')

block content

	+if('!sent()')
		h1(data-bind='text: !transcribed ? ( !employeeOfTheMonth() ? "Recognition" : "Employee of The Month" ) : "Paper Recognition Entry"')
		.section
			p#loggedInAs
				| You are logged in as&nbsp;
				span.userName #{userData.fName} #{userData.lName}
				| ;&nbsp;
				span.logout.textButton(onclick='logout()') Not you?
		script!= 'USERDATA = ' + JSON.stringify(userData)

		.section
			h2 Who do you want to recognize?
			+if('!person()')
				input#employeeSearch(data-bind='value: searchTerm, valueUpdate: "keyup" ')
			+if('people() && people().length || person()')
				#employee.selectList(data-bind='css: { hasSeltd: vm.person() }')
					+each('people')
						span.item(data-bind='css: { seltd: vm.person() && vm.person().username == $data.username } ')
							span.name(data-bind='text: $data.fName + " " + $data.lName')
							span.title(data-bind='text: $data.title')
							span.dept(data-bind='text: $data.dept')

		+if('person()')
			+if('transcribed == false')

				.section
					h2 Type of Recognition
					div.alignLeft
						label
							input(type='radio', name='eom', data-bind='checked: employeeOfTheMonth, checkedValue: false')
							| Kaweah Care Recognition
					div.alignLeft
						label
							input(type='radio', name='eom', data-bind='checked: employeeOfTheMonth, checkedValue: true')
							| Employee of the Month Nomination



				+if('!employeeOfTheMonth()')
					.section
						h2 Describe the special effort
						textarea#description

					.section
						h2 Behavioral Standards of Performance
						+standardsTable()

				+if('employeeOfTheMonth()')
					.section
						h2 Why is the nominee deserving of the Service Excellence Award?
						textarea#description.eomdesc

					.section
						h2 Behavioral Standards of Performance
						+standardsTable()


			.section
				.buttonField
					button(onclick="submit()") Submit Form


		+if('transcribed')
			.section.newSection
				h2 Data

				table#data
					tr
						td(colspan=2)
							h2 Kaweah Care Recognitions
					tr
						td
							p Transcribed Only:
							ul
								li: a.textButton(href='http://daily.kdhcd.org/report/transcribedRecognitions/7') 7 days
								li: a.textButton(href='http://daily.kdhcd.org/report/transcribedRecognitions/30') 30 days
								li: a.textButton(href='http://daily.kdhcd.org/report/transcribedRecognitions/60') 60 days
						td
							p All Recognitions:
							ul
								li: a.textButton(href='http://daily.kdhcd.org/report/recognitions/7') 7 days
								li: a.textButton(href='http://daily.kdhcd.org/report/recognitions/30') 30 days
								li: a.textButton(href='http://daily.kdhcd.org/report/recognitions/60') 60 days
					tr
						td(colspan=2)
							h2 Employee of the Month Nominations
					tr
						td
							p Transcribed Only:
							ul
								li: a.textButton(href='http://daily.kdhcd.org/report/transcribedEOM/7') 7 days
								li: a.textButton(href='http://daily.kdhcd.org/report/transcribedEOM/30') 30 days
								li: a.textButton(href='http://daily.kdhcd.org/report/transcribedEOM/60') 60 days
						td
							p All Nominations:
							ul
								li: a.textButton(href='http://daily.kdhcd.org/report/EOM/7') 7 days
								li: a.textButton(href='http://daily.kdhcd.org/report/EOM/30') 30 days
								li: a.textButton(href='http://daily.kdhcd.org/report/EOM/60') 60 days


	+if('sent()')
		h1 Thank You
		.section
			p Thank you for recognizing your team members!
			button(onclick='location.reload()') Recognize Someone Else!


	script(src='/public/javascripts/libs/jq.js')
	script(src='/public/javascripts/libs/ko.js')
	script(src='/public/javascripts/libs/underscore.js')
	script(src='/public/javascripts/libs/moment.js')

	script window.employee = '#{employee}'

	script
		:coffee

			window.logout = (c_name) ->
				document.cookie = "user=deleted; expires=" + new Date(0).toUTCString()
				document.cookie = "userData=deleted; expires=" + new Date(0).toUTCString()
				document.cookie = "loggedOut=true; expires=" + moment().add('m',1).toDate().toUTCString()
				location.reload()
				return

			window.submit = ->
				standards = _.map $('input[name="Standards"]:checked'), (item)->
					return $(item).val()
				standards = (if standards.length then 'BEHAVIORAL STANDARDS OF PERFORMANCE:\n- ' + standards.join('\n- ') + '\n\n' else '')

				if vm.transcribed
					_description = 'Transcribed by ' +  USERDATA.fName + ' ' + USERDATA.lName
				else if vm.employeeOfTheMonth()
					_description = vm.person().fName + ' ' + vm.person().lName + ' has just been nominated for the SERVICE EXCELLENCE AWARD by ' + USERDATA.fName + ' ' + USERDATA.lName + '\n\n' + standards + 'COMMENTS:\n' + $('#description').val() + '\n\nSUPERVISOR:\n' + vm.person().Supervisor + '\n\nThis entry has been submitted to HR for consideration.'
				else
					_description = vm.person().fName + ' ' + vm.person().lName + ' has just been recognized by ' + USERDATA.fName + ' ' + USERDATA.lName + '\n\n' + standards + 'COMMENTS:\n' + $('#description').val() + '\n\nSUPERVISOR:\n' + vm.person().Supervisor + '\n\nThis entry has been submitted to HR for the monthly drawing.'

				_payload =
					description:	_description
					employee:		vm.person().username
					supervisor:	vm.person().SupervisorID
					sender:		USERDATA.username
					recognizee:	vm.person().fName + ' ' + vm.person().lName
					transcribed:	vm.transcribed

				if vm.employeeOfTheMonth()
					_api = '/api/insertEOM'
				else
					_api = '/api/insertRecognition'

				$.post _api, _payload

				vm.sent true

				return

			window.searchEmployees = (searchTerm) ->
				if searchTerm and searchTerm.length < 4
					vm.people null
					return false
				$.getJSON '/kdPeople/searchEmployees', { term: searchTerm }, (data) ->
					vm.people data.splice(0,24)
					if employee && vm.people()[0].username == employee && employee != USERDATA.username
						vm.person vm.people()[0]
						vm.searchTerm null
					return

			window.debouncedSearchEmployee = _.debounce searchEmployees, 500

			window.vm =
				people: ko.observableArray()
				person: ko.observable()
				searchTerm: ko.observable()
				sent: ko.observable(false)
				employeeOfTheMonth: ko.observable(false)
				transcribed: if location.href.match(/recognitionEntry/) then true else false

			vm.searchTerm.subscribe debouncedSearchEmployee

			ko.applyBindings vm


			location.href = 'http://daily.kdhcd.org/recognition' if vm.transcribed and not USERDATA.dept.match(/Information Systems|Human Resources/)


			vm.searchTerm employee

			$(()->
				$('#employeeSearch').focus()
				return
				)

			$('body').on 'click', '.selectList .item', ()->
				personObj = ko.dataFor(this)

				if personObj.username == USERDATA.username
					alert 'You cannot recognize yourself, silly!'
					vm.person null
					return false

				if vm.person() == personObj 
					vm.person null
					return false
				else
					vm.person personObj
					$('#description').focus()

				return



