extends layouts/KaweahCare-Layout

mixin with(val)
	<!-- ko with: !{val} -->
	block
	<!-- /ko -->

mixin if(val)
	<!-- ko if: !{val} -->
	block
	<!-- /ko -->

mixin each(val)
	<!-- ko foreach: !{val} -->
	block
	<!-- /ko -->

mixin standards(caption)
	-var myID = caption.replace(/\W/g,'')
	label(for=myID, class='checkboxLabel')
		input.standard(type='checkbox', id=myID, value=caption, name='Standards')
		span #{caption}
		div.standardText
			span Please explain:
			input(type='text')

mixin standardsTable()

	style.
		.standardText{
			display:none;
			margin-left: 1em;
			
		}
		.standardText input{
			width: 350px;
			margin-left: .5em;
		}

	table#standardsTable
		tr
			td
				+standards('Compassionate Service')
				+standards('Respect')
				+standards('Communication')
				+standards('Privacy')
				+standards('Personal Ownership')
				+standards('Safety')
				+standards('Professional Image')
				+standards('Commitment to Colleagues')
				+standards('Call Lights')

block content

	+if('!sent()')
	
	
		h1(data-bind='text: !transcribed ? ( mode() != "EOTM" ? "Recognition" : "Employee of The Month" ) : "Paper Recognition Entry"')
		.section
			p#loggedInAs
				| You are logged in as&nbsp;
				span.userName #{userData.fName} #{userData.lName}
				| ;&nbsp;
				span.logout.textButton(onclick='logout()') Not you?
		script!= 'USERDATA = ' + JSON.stringify(userData)
		
		style.
			.typeRec label{
				display: inline-block;
				border: 1px solid;
				padding: .5em;
				width: 40%;
				margin: .5em;
				color: #aaa;
				cursor: pointer;
			}
			.typeRec label:hover{
				color: #000;
			}
			.typeRec label.seltd {
				color: #27ae60;
				border-color: #27ae60;
				font-weight: bold;
			}
			.typeRec input{
			}
			#teamInput{
				font-size: 1.5em;
				border: 1px solid #bdc3c7;
				margin: .5em;
				width: 15em;
			}
			li.help{
				text-align: left;
				list-style: initial;
				margin-left: 2em;
			}

		.section.typeRec
			h2 Type of Recognition
			label( data-bind=' css:{ seltd: mode() == "employee" } ' onclick='setMode("employee")' )
				div
				//- input(type='radio', name='eom', data-bind='checked: employeeOfTheMonth, checkedValue: false')
				| Kaweah Care
			label( data-bind=' css:{ seltd: mode() == "EOTM" } ' onclick='setMode("EOTM")' )
				div
				//- input(type='radio', name='eom', data-bind='checked: employeeOfTheMonth, checkedValue: true')
				| Employee of the Month
			label( data-bind=' css:{ seltd: mode() == "physician" } ' onclick='setMode("physician")' )
				div
				| Physician
			label( data-bind=' css:{ seltd: mode() == "team" } ' onclick='setMode("team")' )
				div
				| Team Pyramid
				

		.section
			
			+if('mode() == "employee" || mode() =="EOTM"')
				h2 Who do you want to recognize?
				+if('!person()')
					input#employeeSearch(data-bind='value: searchTerm, valueUpdate: "keyup" ')
				+if('people() && people().length || person()')
					#employee.selectList(data-bind='css: { hasSeltd: vm.person() }')
						+each('people')
							span.item(data-bind='css: { seltd: vm.person() && vm.person().username == $data.username } ')
								span.name(data-bind='text: $data.fName + " " + $data.lName')
								span.title(data-bind='text: $data.title')
								span.dept(data-bind='text: $data.dept')
			
			+if('mode() == "team" ')
				h2 What team do you want to recognize?
				input#teamInput
			
			+if('mode() == "physician" ')
				h2 Who do you want to recognize?
				+if('!person()')
					input#employeeSearch(data-bind='value: searchTermPhys, valueUpdate: "keyup" ')
				+if('physicians() && physicians().length || person()')
					#employee.selectList(data-bind='css: { hasSeltd: vm.person() }')
						+each('physicians')
							span.item(data-bind='css: { seltd: vm.person() && vm.person().username == $data.username } ')
								span.name(data-bind='text: $data.fName + " " + $data.lName')
								span.title(data-bind='text: $data.title')
								span.dept(data-bind='text: $data.dept')
								
								
		+if('mode() == "team"')
			.section
				h2 Share with us how this team makes a positive difference
				ul
					li.help
						em Tell stories that demonstrate the team’s commitment to others (patients, employees, customers, visitors, etc.)
					li.help
						em What department success are you most proud of? 
					li.help
						em How does the team exemplify Kaweah Care and/or Kaweah Delta values?
				br
				textarea#description
				
			.section
				.buttonField
					button(onclick="submit()") Submit Form

		+if('person()')
			+if('transcribed == false')

				



				+if('mode() == "employee"')
					

					.section
						h2 Behavioral Standards of Performance
						+standardsTable()

					.section
						h2 Describe the special effort
						textarea#description
						
				+if('mode() == "physician"')
					.section
						h2 Describe the special effort
						textarea#description
				
					

				+if('mode() == "EOTM"')
					
					.section
						h2 Behavioral Standards of Performance
						+standardsTable()

					style.
						.wordsUsed{
							font-size: 1.3em;
						}
						.wordsUsed .number{
							font-weight: bold;
							font-size: 1.1em;
							padding-left: .25em;
						}

					.section
						h2 Why is the nominee deserving of the Service Excellence Award?
						p.about Please explain in at least 50 words the behaviors the nominee demonstrates that are deserving of the service excellence award. Explanations with fewer than 50 words may be entered in for Kaweah Care recognition versus Employee of the Month.
						p.wordsUsed
							span Words:
							span.number( data-bind='text: words' )
						textarea#description.eomdesc

					


			.section
				.buttonField
					button(onclick="submit()") Submit Form


		+if('transcribed')
			.section.newSection
				h2 Data

				table#data
					tr
						td(colspan=2)
							h2 Kaweah Care Recognitions
					tr
						td
							p Transcribed Only:
							ul
								li: a.textButton(href='http://daily.kdhcd.org/report/transcribedRecognitions/7') 7 days
								li: a.textButton(href='http://daily.kdhcd.org/report/transcribedRecognitions/30') 30 days
								li: a.textButton(href='http://daily.kdhcd.org/report/transcribedRecognitions/60') 60 days
						td
							p All Recognitions:
							ul
								li: a.textButton(href='http://daily.kdhcd.org/report/recognitions/7') 7 days
								li: a.textButton(href='http://daily.kdhcd.org/report/recognitions/30') 30 days
								li: a.textButton(href='http://daily.kdhcd.org/report/recognitions/60') 60 days
					tr
						td(colspan=2)
							h2 Employee of the Month Nominations
					tr
						td
							p Transcribed Only:
							ul
								li: a.textButton(href='http://daily.kdhcd.org/report/transcribedEOM/7') 7 days
								li: a.textButton(href='http://daily.kdhcd.org/report/transcribedEOM/30') 30 days
								li: a.textButton(href='http://daily.kdhcd.org/report/transcribedEOM/60') 60 days
						td
							p All Nominations:
							ul
								li: a.textButton(href='http://daily.kdhcd.org/report/EOM/7') 7 days
								li: a.textButton(href='http://daily.kdhcd.org/report/EOM/30') 30 days
								li: a.textButton(href='http://daily.kdhcd.org/report/EOM/60') 60 days


	+if('sent()')
		h1 Thank You
		.section
			p Thank you for recognizing your team members!
			button(onclick='location.reload()') Recognize Someone Else!


	script(src='/public/javascripts/libs/jq.js')
	script(src='/public/javascripts/libs/ko.js')
	script(src='/public/javascripts/libs/underscore.js')
	script(src='/public/javascripts/libs/moment.js')

	script window.employee = '#{employee}'

	script
		:coffee

			window.logout = (c_name) ->
				document.cookie = "user=deleted; expires=" + new Date(0).toUTCString()
				document.cookie = "userData=deleted; expires=" + new Date(0).toUTCString()
				document.cookie = "loggedOut=true; expires=" + moment().add('m',1).toDate().toUTCString()
				location.reload()
				return

			window.submit = ->
				if vm.mode() == "EOTM" and vm.words() < 50
					alert "Your explanation only contains #{ vm.words() } words. Please use at least 50 to submit this Employee of the Month nomination."
					return false

				standards = _.map $('input[name="Standards"]:checked'), (item)->
					_explanation = $(item).nextAll('.standardText').find('input').val()
					return "#{$(item).val()}: #{ _explanation }"
				standards = (if standards.length then 'BEHAVIORAL STANDARDS OF PERFORMANCE:\n- ' + standards.join('\n- ') + '\n\n' else '')


				if vm.transcribed
					_description = 'Transcribed by ' +  USERDATA.fName + ' ' + USERDATA.lName					
				else
					_description = switch vm.mode()
						when "EOTM"
							"#{ vm.person().fName } #{ vm.person().lName } has just been nominated for the SERVICE EXCELLENCE AWARD by #{ USERDATA.fName } #{ USERDATA.lName }\n\n" + standards + "COMMENTS:\n #{ $('#description').val() }\n\n" + "SUPERVISOR:\n #{ vm.person().Supervisor }\n\n" + "This entry has been submitted to HR for consideration."
						when "employee"
							"#{ vm.person().fName } #{ vm.person().lName } has just been recognized by #{ USERDATA.fName } #{ USERDATA.lName }\n\n" + standards + "COMMENTS:\n #{ $('#description').val() }\n\n" + "SUPERVISOR:\n #{ vm.person().Supervisor }\n\n" + "This entry has been submitted to HR for the monthly drawing."
						when "physician"
							"#{ vm.person().fName } #{ vm.person().lName } has just been recognized by #{ USERDATA.fName } #{ USERDATA.lName }\n\n" + "COMMENTS:\n #{ $('#description').val() }"
						when "team"
							"TEAM:\n#{ $('#teamInput').val() }\n\n" + "NOMINATED BY:\n#{ USERDATA.fName } #{ USERDATA.lName }\n\n" + "COMMENTS:\n #{ $('#description').val() }"

				_payload =
					description:	_description
					employee:		vm.person()?.username or vm.person()?.mdNum
					supervisor:	vm.person()?.SupervisorID or ""
					sender:		USERDATA.username
					recognizee:	vm.person()?.fName + ' ' + vm.person()?.lName
					transcribed:	vm.transcribed
					type: vm.mode()
					
				if vm.mode() == 'physician'
					_payload.email = vm.person().email
					_payload.supervisor = 'PHYEXPTEAM'

				if vm.mode() == "EOTM"
					_api = '/api/insertEOM'
				else
					_api = '/api/insertRecognition'

				$.post _api, _payload

				vm.sent true

				return

			window.searchEmployees = (searchTerm) ->
				if searchTerm and searchTerm.length < 4
					vm.people null
					return false
				$.getJSON '/kdPeople/searchEmployees', { term: searchTerm }, (data) ->
					vm.people data.splice(0,24)
					if employee && vm.people()[0]?.username == employee && employee != USERDATA.username
						vm.person vm.people()[0]
						vm.searchTerm null
					return

			window.debouncedSearchEmployee = _.debounce searchEmployees, 500
			
			window.searchPhysicians = (searchTerm) ->
				if searchTerm and searchTerm.length < 4
					vm.physicians null
					return false
				$.getJSON '/kdPeople/searchPhysicians', { term: searchTerm }, (data) ->
					vm.physicians data.splice(0,24)
					if employee && vm.physicians()[0]?.username == employee && employee != USERDATA.username
						vm.person vm.physicians()[0]
						vm.searchTerm null
					return

			window.debouncedSearchPhysician = _.debounce searchPhysicians, 500

			window.vm =
				people: ko.observableArray()
				teams: ko.observableArray()
				physicians: ko.observableArray()
				person: ko.observable()
				searchTerm: ko.observable()
				searchTermPhys: ko.observable()
				sent: ko.observable(false)
				employeeOfTheMonth: ko.observable(false)
				mode: ko.observable()
				words: ko.observable(0)
				team: ko.observable()
				transcribed: if location.href.match(/recognitionEntry/) then true else false

			window.setMode = (newMode)->
				if vm.mode() isnt newMode
					vm.person null
					vm.mode newMode

			window.setEOM = (newStatus)->
				vm.employeeOfTheMonth( newStatus )

			vm.searchTerm.subscribe debouncedSearchEmployee
			vm.searchTermPhys.subscribe debouncedSearchPhysician

			ko.applyBindings vm


			location.href = 'http://daily.kdhcd.org/recognition' if vm.transcribed and not USERDATA.dept.match(/Information Systems|Human Resources/)

			if employee
				vm.mode 'employee'
				vm.searchTerm employee
				

			$(()->
				$('#employeeSearch').focus()
				return
				)

			$('body').on 'change', '.standard', ()->
				$myTextbox = $(this).nextAll('.standardText')
				$myTextbox.toggle().focus()
				

			$('body').on 'keyup', '#description', ()->
				if $('#description').val()
					vm.words $('#description').val().split(' ').length
				else
					vm.words 0

			$('body').on 'click', '.selectList .item', ()->
				personObj = ko.dataFor(this)

				if personObj.username == USERDATA.username
					alert 'You cannot recognize yourself, silly!'
					vm.person null
					return false

				if vm.person() == personObj 
					vm.person null
					return false
				else
					vm.person personObj
					$('input,textarea').eq(0).focus()

				return
