| &nbsp;
.row
	.col-md-8.col-md-push-2.text-center
		.panel.panel-default
			.panel-heading
				h1.panel-title Login Required
			.panel-body
				p#loginError You need to be logged in to access this page! &nbsp;
				.btn-group.btn-group-lg
					button.btn.btn-primary(onclick="logIn()") Log In!



script
	:coffee
		window.getCookie = (name) ->
			value = "; " + document.cookie
			parts = value.split("; " + name + "=")
			parts.pop().split(";").shift()  if parts.length is 2

		window.logIn = ->
			document.cookie = "loggedOut=deleted; expires=" + new Date(0).toUTCString()
			$.getJSON 'http://apps.kdhcd.org/auth/api.aspx?callback=?&mode=detectID', (data, status) ->
				if status is 'success'
					if data.user and data.user isnt "PUBLIC"
						document.cookie = "user=" + escape(data.user) + "; path=/"
						location.reload()
					else
						$('#loginError').after '<h2>Public Computer</h2>'
				else
					$('#loginError').after '<h2>Auth failed - ' + status + '</h2>'
				return
			return

		unless getCookie('loggedOut') is 'true'
			window.logIn