extends layouts/bootstrap.jade

block content
	.container-fluid
		if !userData
			include loginModule.jade

		if userData
			.row
				.col-sm-12
					button.btn.btn-primary(onclick='newPost()') New Post

			.row
				+with('selectedPost')
					#selectedPost.col-sm-6
						.panel.panel-default
							.panel-heading
								h1.panel-title Edit Post
							.panel-body
								.form-group
									label(for='postHeadline') Headline
									input.form-control.input-lg#postHeadline(data-bind='value: title, valueUpdate: "keyup"')
								.form-group
									label(for='postBody') Body
									textarea.form-control#postBody(rows=6)(data-bind='value: markdownBody, valueUpdate: "keyup"')
								.btn-group-lg
									button.btn.btn-primary(onclick='savePost()') Submit
						.panel.panel-default
							pre(data-bind='text: JSON.stringify(ko.toJS($data))')

					#postPreview.col-sm-6
						.panel.panel-default
							.panel-heading
								h1.panel-title Post Preview
							.panel-body
								h1.headline(data-bind='text: title')
								div.body(data-bind='markdown: markdownBody')



			.row
				.col-sm-6
					+if('posts().length')
						.panel.panel-default
							table.table.table-striped
								tbody
									+each('posts')
										tr(data-bind='click: selectPost')
											td
												div.itemTitle(data-bind='text: $data.title')
												div(data-bind='text: moment($data.created()).format("MMM D, YYYY - h:mma")')



block scripts

	script(src='/public/javascripts/Markdown.Converter.js')

	script!= 'userData = ' + JSON.stringify(userData)

	script(src='/public/javascripts/submit.js')




