extends layouts/layout

mixin columnHeader(caption, width)
	td( style='width:' + width + 'px' )= caption

mixin column(classname, value, width, title)
	- title = title || ''
	td( class= classname, title= title, style='width:' + width + 'px', title= value )
		div(style='width:' + width + 'px')!= value

block content

	#header
		img(src='http://daily.kdhcd.org/public/images/DDLogo.png' title='The District Daily')

	h1= title
	h2= subtitle

	table
		tr.header
			+columnHeader('Rank', 60)
			+columnHeader('Title', 300)
			+columnHeader('Date', 100)
			+columnHeader('Author', 150)
			+columnHeader('Type', 60)
			+columnHeader('Hits', 60)
			+columnHeader('Likes', 60)
		each row,index in hits[0][0]
			tr.row
				+column( 'rank', index + 1, 60)
				-var myURL = 'http://daily.kdhcd.org/' + moment(row.listDate).format('YYYY/MM/DD') + '/' + row.spId;
				+column( 'title',  '<a href="' + myURL + '">' + row.title + '</a>', 300)
				+column( 'date', moment(row.listDate).utc().format('MM/DD/YY'), 100)
				//- +column( 'date', row.listDate, 100)
				+column( 'author', row.creator.replace(/(.*),\s?(.*)/, '$2 $1'), 150)
				+column( 'type', row.type, 60)
				+column( 'hits', row.hits || ' - ', 60, row.DistrictDailyViews)
				+column( 'likes', row.likes || ' - ', 60)
				//- each columnName in columns
					//- td(class= index % 2 ? 'odd' : 'even', class= 'column' + columnName )= row[columnName]


	script!= 'HITS = ' + JSON.stringify(rows)

	script(src='/public/javascripts/libs.js')